﻿<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <div class="button-bar">
        <button class="btn btn-info"
                data-bind="click: cancel, enable: canSave"><i class="icon-undo"></i> Cancel</button>
        <button class="btn btn-info"
                data-bind="click: save, enable: canSave"><i class="icon-save"></i> Save</button>
        <i class="icon-asterisk" data-bind="visible: hasChanges"></i>
    </div>
    
    <div data-bind="with: person">    
        <div class="titleblock">
            <label for="title">Name</label>
            <input id="title" data-bind="value: name" placeholder="Owner name"/>
        </div>
        <div class="details-left">
            <!--<div>
                <label>Track</label>
                <select data-bind="options: $parent.tracks, optionsText: 'name', value: track"></select>
            </div>
            <div>
                <label>Time slot</label>
                <select data-bind="options: $parent.timeSlots, optionsText: 'name', value: timeSlot"></select>
            </div>
            <div>
                <label>Room</label>
                <select data-bind="options: $parent.rooms, optionsText: 'name', value: room"></select>
            </div>
            <div>
                <label>Code</label>
                <input data-bind="value: code" placeholder="Code"/>
            </div>
            <div>
                <label>Level</label>
                <input data-bind="value: level" placeholder="Level"/>
            </div>
            <div>
                <label>Tags</label>
                <input data-bind="value: tagsFormatted" placeholder="Tags"/>
            </div>
            <div data-bind="with: speaker">
                <img data-bind="attr: { src: imageName }" class="img-polaroid"/>
                <address data-bind="text: fullName"></address>
                <select data-bind="options: $root.speakers, optionsText: 'fullName', value: $parent.speaker"></select>
            </div>-->
        </div>
        <!--<div class="details-right">
            <div>
                <label>Description</label>
                <textarea data-bind="value: description" 
                    placeholder="Enter description"></textarea>
            </div>
        </div>-->
    </div>
</section>